<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilos Veladero</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../src/img/fav.png">

    <!-- Estilos Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Icons BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- Icons Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- Estilos Veladero -->
    <link rel="stylesheet" href="../../../src/css/style.css">
</head>

<body>

    <header class="">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../../src/img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../../../index.html">INICIO</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                OPORTUNIDADES
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../../oportunidades/oportunidades.html">Inicio oportunidades</a></li>
                                <li><a class="dropdown-item" href="#">Subí tu curriculum</a></li>
                                <li><a class="dropdown-item" href="../../oportunidades/propuestas_laborales.html">Oportunidades
                                        laborales</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                SUSTENTABILIDAD
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="desarrollo_sustentable.html">Desarrollo sustentable</a></li>
                                <li><a class="dropdown-item" href="seguridad_salud.html">Seguridad y Salud</a></li>
                                <li><a class="dropdown-item" href="medioambiente.html">Medioambiente</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../../comunicaciones/comunicaciones.html">COMUNICACIONES</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                PROVEEDORES
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../../proveedores/documentacion_importante.html">Documentación importante</a></li>
                                <li><a class="dropdown-item" href="../../proveedores/soporte_proveedores.html">Soporte para proveedores</a></li>
                                <li><a class="dropdown-item" href="../../proveedores/consulta_recepciones.html">Consulta de recepciones</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <section class="franja-azul">
        <h1>CIC - Código Internacional del CN</h1>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, sed.</p> -->
    </section>


    <div class="btn-volver">
        <a href="../medioambiente.html">
            <i class='bx bx-arrow-back'></i>
            Volver
        </a>
    </div>

    <!-- <section class="hero-abastecimiento">
        <div class="abastecimiento-video">
            <video src="" poster=""></video>
            <span></span>
        </div>
    </section> -->

    <section style="padding-top: 0;" class="info-abastecimiento">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet nulla gravida aliquam a sem cursus. Nunc pellentesque tempor amet aliquet. Hac nulla dolor scelerisque felis cursus. Semper aliquet ac eleifend quis accumsan commodo a nunc pulvinar. Urna diam condimentum nunc proin sed id porttitor commodo. Imperdiet lacus viverra tempus gravida id enim. Sociis nisi leo egestas mi et condimentum malesuada et.
            Nam turpis commodo massa, eu fusce elementum viverra. Pretium id libero lacus, at vitae lectus eu. Aliquet commodo ac libero tellus non ut. Dignissim commodo id elementum enim faucibus at nec tellus diam. Eget vitae semper arcu et, viverra lorem consequat vulputate dolor. Sit proin ut metus morbi viverra.
            Feugiat ipsum tellus sed sed aenean faucibus felis id. Dignissim etiam nulla sed diam, suspendisse diam iaculis diam ut. Felis, congue viverra semper ut risus. Nec libero vitae consequat tellus lorem amet scelerisque. Tincidunt lacus congue arcu quam id id. Dictum morbi ac luctus volutpat ornare laoreet euismod facilisi. Libero turpis mus nibh risus amet id. Convallis libero eget ornare vel eleifend eros at mauris. Luctus tortor facilisis est nibh mauris aliquet ac scelerisque suspendisse. Phasellus orci aenean odio sed donec volutpat. Mi consequat at volutpat sed diam tellus ut euismod nisi. Sollicitudin in at enim, quis vitae faucibus vitae mattis. Vulputate aliquet facilisis ullamcorper at.
            Faucibus nam tempus ut fermentum a et. Bibendum nec pretium euismod aliquam augue fermentum nisl. Elit, adipiscing sodales vulputate risus donec. Dictumst risus ante nulla ipsum sed phasellus nisi. Facilisi bibendum lectus lobortis scelerisque enim quam felis.
            Quisque justo quis imperdiet aliquet gravida semper diam suspendisse. Maecenas viverra malesuada sit lorem vel ultricies massa integer. Risus blandit lacus non, tellus volutpat. Ultrices porta tellus auctor diam duis at massa ipsum enim. Est egestas malesuada id mauris. Nunc, cras ultrices in placerat pellentesque. Eget sagittis ipsum eu risus posuere. Ut quisque mi malesuada vel tristique vel non mi. Dui dui pretium viverra sed ut imperdiet. Tortor, cursus ut nunc tellus.
            Felis, quisque orci sed massa pharetra arcu scelerisque ut. Viverra id vestibulum dictumst eu nunc ornare sed morbi. Lobortis lectus in tristique nunc sit. Vitae ipsum viverra purus viverra convallis feugiat at turpis. Sapien bibendum tristique turpis mauris ornare turpis tellus, lectus id. Aliquam posuere est nunc viverra elit. Porta venenatis tempus viverra facilisis. Tortor posuere semper nulla fermentum massa ac enim. Sit praesent mi ultricies mi ac a. Ut non ornare a sodales morbi elit tortor. Felis et imperdiet magna elementum egestas eu viverra a.
            Vulputate tempor in massa dui. Sollicitudin posuere vitae diam mattis aenean. Vestibulum dictum felis morbi sagittis, vitae nec aliquam. Nisl, in et, ultrices viverra curabitur ac, leo a egestas. Nec, feugiat lectus phasellus pretium bibendum mi, augue adipiscing elementum. Massa mauris sed elementum non mauris in. Accumsan, sit facilisi et, vitae id interdum proin. Sapien faucibus eu, pellentesque molestie elit viverra aliquet. Aenean mauris, lorem lacus, curabitur vitae. Phasellus morbi sagittis bibendum blandit posuere facilisi tempor urna at. Lectus sodales metus, nulla pretium convallis nibh senectus ac ultricies. In ultricies viverra semper nibh id nec nibh in ac.
            Ridiculus tortor volutpat odio nulla ullamcorper dignissim. Facilisis orci, viverra urna dolor magna egestas eu dolor duis. Est nibh lobortis aenean id. Integer suspendisse turpis nec lacus morbi nulla tellus. Eu malesuada viverra in nulla.
            </p>


            <!-- <div class="fotos-noticia">
                <div class="cada-foto-noticia">
                    <img src="https://images.unsplash.com/photo-1587437720061-dc5f28eb58ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80" alt="">
                </div>

                <div class="cada-foto-noticia">
                    <img src="https://images.unsplash.com/photo-1623973465995-1712709f8293?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
                </div>

                <div class="cada-foto-noticia">
                    <img src="https://images.unsplash.com/photo-1468437012950-7d4960be6383?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=941&q=80" alt="">
                </div>
            </div> -->
    </section>








    <footer>
        <!-- <div class="footer-head">
            <div class="footer-menu">
                <ul class="menu-footer-head">
                    <li>
                        Oportunidades Laborales
                        <ul class="submenu-footer-head">
                            <li><a href="#">Subí tu currículum</a></li>
                            <li><a href="#">Trabajá con nosotros</a></li>
                        </ul>
                    </li>
                    <li>
                        Sustentabilidad
                        <ul class="submenu-footer-head">
                            <li><a href="#">Desarrollo Sustentable</a></li>
                            <li><a href="#">Seguridad y salud</a></li>
                            <li><a href="#">Medioambiente</a></li>
                        </ul>
                    </li>
                    <li>
                        Comunicaciones
                        <ul class="submenu-footer-head">
                            <li><a href="#">Programa de visitas</a></li>
                            <li><a href="#">Noticias</a></li>
                        </ul>
                    </li>
                    <li>
                        Proveedores
                        <ul class="submenu-footer-head">
                            <li><a href="#">Documentación importante</a></li>
                            <li><a href="#">Soporte para proveedores</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footer-contacto">
                <ul class="menu-footer-contacto">
                    <li>
                        San Juan
                        <ul class="submenu-footer-contacto">
                            <li><i class='bx bxs-phone'></i><a href="#">+ 54 264 -4298100</a></li>
                            <li><i class='bx bxs-map'></i><a href="#c">Francisco Villagra 531, Trinidad, San Juan -
                                    Argentina</a></li>
                        </ul>
                    </li>
                    <li>
                        Oficina Iglesia
                        <ul class="submenu-footer-contacto">
                            <li><i class='bx bxs-phone'></i><a href="#">+54 2647 -493-180</a></li>
                            <li><i class='bx bxs-map'></i><a href="#c">Santo Domingo S/N°, Rodeo - Iglesia, San Juan -
                                    Argentina</a></li>
                        </ul>
                    </li>
                    <li>
                        Oficina Jáchal
                        <ul class="submenu-footer-contacto">
                            <li><i class='bx bxs-phone'></i><a href="#">+54 2647 -420277</a></li>
                            <li><i class='bx bxs-map'></i><a href="#c">Calle Rivadavia N°557, San José de Jáchal, San
                                    Juan - Argentina</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="footer-bottom">
            <div class="footer-logos">
                <a href="http://barrick.com">
                    <img src="../../../src/img/logos/barrick-logo-white.png" alt="Logo Barrick">
                </a>
                <a href="http://en.sdhjgf.com.cn/">
                    <img src="../../../src/img/logos/shandong-logo-white.svg" alt="Shandong Logo">
                </a>
            </div>
            <p>© 2021 Veladero</p>
            <div class="footer-redes">
                <a href="https://twitter.com/MinaVeladero">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="https://www.facebook.com/MinaVeladero">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="https://www.instagram.com/mina.veladero/">
                    <i class='bx bxl-instagram'></i>
                </a>
                <a href="https://www.linkedin.com/company/veladero/">
                    <i class='bx bxl-linkedin'></i>
                </a>
            </div>
        </div>
    </footer>




    <script src="../../src/js/main.js"></script>


    <!-- Scripts Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>