<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilos Veladero</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../src/img/fav.png">

    <!-- Estilos Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Icons BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- Icons Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- Estilos Veladero -->
    <link rel="stylesheet" href="../../../src/css/style.css">
</head>

<body>

    <header class="">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../../src/img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../../../index.html">INICIO</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                OPORTUNIDADES
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../../oportunidades/oportunidades.html">Inicio oportunidades</a></li>
                                <li><a class="dropdown-item" href="#">Subí tu curriculum</a></li>
                                <li><a class="dropdown-item" href="../../oportunidades/propuestas_laborales.html">Oportunidades
                                        laborales</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                SUSTENTABILIDAD
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="desarrollo_sustentable.html">Desarrollo sustentable</a></li>
                                <li><a class="dropdown-item" href="seguridad_salud.html">Seguridad y Salud</a></li>
                                <li><a class="dropdown-item" href="medioambiente.html">Medioambiente</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../../comunicaciones/comunicaciones.html">COMUNICACIONES</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                PROVEEDORES
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../../proveedores/documentacion_importante.html">Documentación importante</a></li>
                                <li><a class="dropdown-item" href="../../proveedores/soporte_proveedores.html">Soporte para proveedores</a></li>
                                <li><a class="dropdown-item" href="../../proveedores/consulta_recepciones.html">Consulta de recepciones</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <section class="franja-azul">
        <h1>Política ambiental</h1>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, sed.</p> -->
    </section>


    <div class="btn-volver">
        <a href="../medioambiente.html">
            <i class='bx bx-arrow-back'></i>
            Volver
        </a>
    </div>

    <!-- <section class="hero-abastecimiento">
        <div class="abastecimiento-video">
            <video src="" poster=""></video>
            <span></span>
        </div>
    </section> -->

    <section style="padding-top: 0;" class="info-abastecimiento">
        <!-- <h2>Estadísticas</h2> -->

        <!-- <div class="tablas-preventivo">
            <div class="estadisticas-total">
                <table>
                    <tr>
                        <th>IGLESIA</th>
                        <th>JÁCHAL</th>
                        <th>RESTO DE SAN JUAN</th>
                        <th>TOTAL</th>
                    </tr>
                    <tr>
                        <td>000</td>
                        <td>000</td>
                        <td>000</td>
                        <td>000</td>
                    </tr>
                </table>
            </div>
            <div class="recup-activos">
                <table>
                    <tr>
                        <th>RECUPERADOS</th>
                        <th>ACTIVOS</th>
                    </tr>
                    <tr>
                        <td>000</td>
                        <td>000</td>
                    </tr>
                </table>
            </div>
        </div> -->
        
        <p>La política ambiental de Veladero, es nuestra declaración de compromisos ambientales asumidos y por tanto el horizonte que define nuestras acciones en pos de una producción limpia, donde los pilares fundamentales son el cumplimiento de la normativa ambiental, el cuidado del medio ambiente, la comunicación transparente y fundamentalmente la mejora continua. La política debe ser conocida por nuestros trabajadores para buen desarrollo sus actividades. Es un documento vivo, público y audítale, el cual debe estar disponible a las partes interesadas para conocimiento de nuestro compromiso con el medio ambiente.
        </p>
        
        <p>Veladero esta comprometida a llevar a cabo una gestión ambiental responsable basada en una cuidadosa planificación, una implementación diligente, una evaluación profunda de desempeño y un deseo de mejorar en el tiempo.
            <br>
            Reconocemos que una implementación exitosa de nuestros proyectos para resultar en alteraciones a nuestro medio ambiente natural. Por consiguiente, contribuimos con la protección del medio ambiente y desarrollo sustentable de nuestras comunidades anfitrionas. Estamos comprometidos en ayudar a las comunidades a satisfacer sus necesidades sin poner en peligro la capacidad de futuras generaciones.

            <br><br>
            
            <span class="color-dorado">Por lo tanto Veladero se compromete a:</span> 

            <br><br>
            
            Cumplir a cabalidad con todas las leyes, regulaciones y otras obligaciones ambientales aplicables.
            Proteger el medio ambiente al aplicar prácticas de gestión probadas para prevenir polución y mitigar impactos.
            Continuamente mejorar sus sistemas y desempeño ambiental.
            Comunicarse de manera abierta y transparente con partes interesadas internas y externas para desarrollar un entendimiento mutuo de preocupaciones, necesidades y expectativas ambientales.

            <br><br>

            <span class="color-dorado">Como parte de este compromiso, Veladero:</span>

            <br><br>

            <div class="compromisos-veladero">
                Establecerá, implementará, mantendrá y hará accesible para partes interesadas, su Sistema de Gestión Ambiental  (SGA), el cual define los requerimientos con el fin de mejorar el desempeño ambiental, el cumplimiento de las obligaciones y el logro de los objetivos ambientales.

                <br><br>

                Asegurará que nuestros líderes y nuestra gente entienden, apoyen y mantengan nuestro SIGA por intermedio de entrenamiento apropiado  evaluaciones periódicas de desempeño del sistema.

                <br><br>

                Proporcionará a nuestros gerentes y supervisores la autoridad y los recursos necesarios para implementar nuestro SGA y prácticas ambientales asociadas, además de los principales estándares ambientales entre ellos, el de manejo de aguas y de biodiversidad.

                <br><br>

                Establecerá y revisará objetivos y metas ambientales cuyo fin es obtener los resultados deseados del SGA.

                <br><br>

                Se involucrará en la mejora continua el SGA para asegurar la idoneidad, suficiencia y efectividad para alcanzar sus resultados deseados.

                <br><br>

                Conducirá revisiones periódicas de nuestras operaciones para monitorear el desempeño ambiental y guiar el SGA. Insistirá que, aquellos que proveen servicios y productos, se adhieran a nuestras políticas y prácticas ambientales. Educará a nuestra gente, sus familias y partes interesadas acerca de nuestro sistema y prácticas.

                <br><br>

                Comunicará esta política a aquellos que trabajan en Veladero, sus familiar y partes interesadas.
            </div>

        </p>

            

            <!-- <ul>
                <li>Todas las operaciones, proyectos, exploraciones y oficinas de Veladero y BEASA.</li>
                <li>Todo el personal ya sea permanente, temporal o contratista.</li>
                <li>Personal Médico de Salud & Seguridad en los sitios o en los puntos de control establecidos fuera de sitio.</li>
                <li>Transporte de personal.</li>
                <li>Transporte de cargas.</li>
                <li>Operaciones que pueda aplicar el presente protocolo.</li>
            </ul> -->
        
        <h2>Descargas</h2>

        <div class="descargas">
            <a href="#c" download="">
                <img src="../../../src/img/iconos/documento.png" alt="">
                <div class="desc-info">
                    <h4>Política ambiental</h4>
                    <p>PDF / ...MB</p>
                </div>
            </a>
        </div>


        <!-- <div class="fotos-noticia">
            <div class="cada-foto-noticia">
                <img src="https://images.unsplash.com/photo-1587437720061-dc5f28eb58ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80" alt="">
            </div>

            <div class="cada-foto-noticia">
                <img src="https://images.unsplash.com/photo-1623973465995-1712709f8293?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
            </div>

            <div class="cada-foto-noticia">
                <img src="https://images.unsplash.com/photo-1468437012950-7d4960be6383?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=941&q=80" alt="">
            </div>
        </div> -->
    </section>








    <footer>
        <!-- <div class="footer-head">
            <div class="footer-menu">
                <ul class="menu-footer-head">
                    <li>
                        Oportunidades Laborales
                        <ul class="submenu-footer-head">
                            <li><a href="#">Subí tu currículum</a></li>
                            <li><a href="#">Trabajá con nosotros</a></li>
                        </ul>
                    </li>
                    <li>
                        Sustentabilidad
                        <ul class="submenu-footer-head">
                            <li><a href="#">Desarrollo Sustentable</a></li>
                            <li><a href="#">Seguridad y salud</a></li>
                            <li><a href="#">Medioambiente</a></li>
                        </ul>
                    </li>
                    <li>
                        Comunicaciones
                        <ul class="submenu-footer-head">
                            <li><a href="#">Programa de visitas</a></li>
                            <li><a href="#">Noticias</a></li>
                        </ul>
                    </li>
                    <li>
                        Proveedores
                        <ul class="submenu-footer-head">
                            <li><a href="#">Documentación importante</a></li>
                            <li><a href="#">Soporte para proveedores</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footer-contacto">
                <ul class="menu-footer-contacto">
                    <li>
                        San Juan
                        <ul class="submenu-footer-contacto">
                            <li><i class='bx bxs-phone'></i><a href="#">+ 54 264 -4298100</a></li>
                            <li><i class='bx bxs-map'></i><a href="#c">Francisco Villagra 531, Trinidad, San Juan -
                                    Argentina</a></li>
                        </ul>
                    </li>
                    <li>
                        Oficina Iglesia
                        <ul class="submenu-footer-contacto">
                            <li><i class='bx bxs-phone'></i><a href="#">+54 2647 -493-180</a></li>
                            <li><i class='bx bxs-map'></i><a href="#c">Santo Domingo S/N°, Rodeo - Iglesia, San Juan -
                                    Argentina</a></li>
                        </ul>
                    </li>
                    <li>
                        Oficina Jáchal
                        <ul class="submenu-footer-contacto">
                            <li><i class='bx bxs-phone'></i><a href="#">+54 2647 -420277</a></li>
                            <li><i class='bx bxs-map'></i><a href="#c">Calle Rivadavia N°557, San José de Jáchal, San
                                    Juan - Argentina</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="footer-bottom">
            <div class="footer-logos">
                <a href="http://barrick.com">
                    <img src="../../../src/img/logos/barrick-logo-white.png" alt="Logo Barrick">
                </a>
                <a href="http://en.sdhjgf.com.cn/">
                    <img src="../../../src/img/logos/shandong-logo-white.svg" alt="Shandong Logo">
                </a>
            </div>
            <p>© 2021 Veladero</p>
            <div class="footer-redes">
                <a href="https://twitter.com/MinaVeladero">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="https://www.facebook.com/MinaVeladero">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="https://www.instagram.com/mina.veladero/">
                    <i class='bx bxl-instagram'></i>
                </a>
                <a href="https://www.linkedin.com/company/veladero/">
                    <i class='bx bxl-linkedin'></i>
                </a>
            </div>
        </div>
    </footer>




    <script src="../../src/js/main.js"></script>


    <!-- Scripts Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>