<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilos Veladero</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../src/img/fav.png">

    <!-- Estilos Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Icons BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- Icons Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- Estilos Veladero -->
    <link rel="stylesheet" href="../../../src/css/style.css">
</head>

<body>

    <header class="">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../../src/img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../../../index.html">INICIO</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                OPORTUNIDADES
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../../oportunidades/oportunidades.html">Inicio oportunidades</a></li>
                                <li><a class="dropdown-item" href="#">Subí tu curriculum</a></li>
                                <li><a class="dropdown-item" href="../../oportunidades/propuestas_laborales.html">Oportunidades
                                        laborales</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                SUSTENTABILIDAD
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="desarrollo_sustentable.html">Desarrollo sustentable</a></li>
                                <li><a class="dropdown-item" href="seguridad_salud.html">Seguridad y Salud</a></li>
                                <li><a class="dropdown-item" href="medioambiente.html">Medioambiente</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../../comunicaciones/comunicaciones.html">COMUNICACIONES</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                PROVEEDORES
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../../proveedores/documentacion_importante.html">Documentación importante</a></li>
                                <li><a class="dropdown-item" href="../../proveedores/soporte_proveedores.html">Soporte para proveedores</a></li>
                                <li><a class="dropdown-item" href="../../proveedores/consulta_recepciones.html">Consulta de recepciones</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <section class="franja-azul">
        <h1>Politica de seguridad y salud en el trabajo</h1>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, sed.</p> -->
    </section>


    <div class="btn-volver">
        <a href="../seguridad_salud.html">
            <i class='bx bx-arrow-back'></i>
            Volver
        </a>
    </div>

    <!-- <section class="hero-abastecimiento">
        <div class="abastecimiento-video">
            <video src="" poster=""></video>
            <span></span>
        </div>
    </section> -->

    <section class="info-abastecimiento" style="padding-top: 0;">
        <!-- <h2>Objetivo</h2> -->
        <p>
            Minera Andina del Sol S.R.L. es un Join Venture entre Barrick y Shandong-Gold dedicada a la extracción y procesamiento de minerales de Oro y Plata.
            <br>
            La dirección de Minera Andina del Sol S.R.L. asume la gestión de seguridad y salud en el trabajo como parte integral de negocio; y es por eso que establece la presente política de seguridad y salud en el trabajo la cual constituye el marco de referencia para fijar sus objetivos, manifestando los siguientes compromisos:
            
            <ul>
                <li>Promover su compromiso con la seguridad y salud en el trabajo.</li>
                <li>Implementar y mantener un sistema de gestión basado en la norma ISO 45001 vigente, para mejorar continuamente el sistema de gestión de seguridad y salud en el trabajo.</li>
                <li>Proporcionar condiciones de trabajo seguras y saludables para la prevención de lesiones y deterioro de la salud relacionado con el trabajo de todos nuestros trabajadores, contratistas y visitas.</li>
                <li>Eliminar los peligros y reducir los riesgos para la seguridad y la salud en el trabajo.</li>
                <li>Cumplir los requisitos legales vigentes, como así también los otros requisitos.</li>
                <li>Aplicar mecanismos para la consulta y participación de los trabajadores y sus representantes.</li>
            </ul>
        </p>
        <div class="fotos-noticia">
            <div class="cada-foto-noticia">
                <img src="https://images.unsplash.com/photo-1587437720061-dc5f28eb58ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80" alt="">
            </div>

            <div class="cada-foto-noticia">
                <img src="https://images.unsplash.com/photo-1623973465995-1712709f8293?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
            </div>

            <div class="cada-foto-noticia">
                <img src="https://images.unsplash.com/photo-1468437012950-7d4960be6383?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=941&q=80" alt="">
            </div>
        </div>
    </section>








    <footer>
        <!-- <div class="footer-head">
            <div class="footer-menu">
                <ul class="menu-footer-head">
                    <li>
                        Oportunidades Laborales
                        <ul class="submenu-footer-head">
                            <li><a href="#">Subí tu currículum</a></li>
                            <li><a href="#">Trabajá con nosotros</a></li>
                        </ul>
                    </li>
                    <li>
                        Sustentabilidad
                        <ul class="submenu-footer-head">
                            <li><a href="#">Desarrollo Sustentable</a></li>
                            <li><a href="#">Seguridad y salud</a></li>
                            <li><a href="#">Medioambiente</a></li>
                        </ul>
                    </li>
                    <li>
                        Comunicaciones
                        <ul class="submenu-footer-head">
                            <li><a href="#">Programa de visitas</a></li>
                            <li><a href="#">Noticias</a></li>
                        </ul>
                    </li>
                    <li>
                        Proveedores
                        <ul class="submenu-footer-head">
                            <li><a href="#">Documentación importante</a></li>
                            <li><a href="#">Soporte para proveedores</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footer-contacto">
                <ul class="menu-footer-contacto">
                    <li>
                        San Juan
                        <ul class="submenu-footer-contacto">
                            <li><i class='bx bxs-phone'></i><a href="#">+ 54 264 -4298100</a></li>
                            <li><i class='bx bxs-map'></i><a href="#c">Francisco Villagra 531, Trinidad, San Juan -
                                    Argentina</a></li>
                        </ul>
                    </li>
                    <li>
                        Oficina Iglesia
                        <ul class="submenu-footer-contacto">
                            <li><i class='bx bxs-phone'></i><a href="#">+54 2647 -493-180</a></li>
                            <li><i class='bx bxs-map'></i><a href="#c">Santo Domingo S/N°, Rodeo - Iglesia, San Juan -
                                    Argentina</a></li>
                        </ul>
                    </li>
                    <li>
                        Oficina Jáchal
                        <ul class="submenu-footer-contacto">
                            <li><i class='bx bxs-phone'></i><a href="#">+54 2647 -420277</a></li>
                            <li><i class='bx bxs-map'></i><a href="#c">Calle Rivadavia N°557, San José de Jáchal, San
                                    Juan - Argentina</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="footer-bottom">
            <div class="footer-logos">
                <a href="http://barrick.com">
                    <img src="../../../src/img/logos/barrick-logo-white.png" alt="Logo Barrick">
                </a>
                <a href="http://en.sdhjgf.com.cn/">
                    <img src="../../../src/img/logos/shandong-logo-white.svg" alt="Shandong Logo">
                </a>
            </div>
            <p>© 2021 Veladero</p>
            <div class="footer-redes">
                <a href="https://twitter.com/MinaVeladero">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="https://www.facebook.com/MinaVeladero">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="https://www.instagram.com/mina.veladero/">
                    <i class='bx bxl-instagram'></i>
                </a>
                <a href="https://www.linkedin.com/company/veladero/">
                    <i class='bx bxl-linkedin'></i>
                </a>
            </div>
        </div>
    </footer>




    <script src="../../src/js/main.js"></script>


    <!-- Scripts Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>