@import url('../fonts.css');
@import url('../variables.css');


.botones {
    padding: 50px;
}

.btn-veladero {
    width: 215px;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.btn-fill-yellow {
    background: var(--color-secundario-dorado);
    border: 2px solid var(--color-secundario-dorado);
    color: var(--color-principal-azul);
}

.btn-ghost-yellow {
    background: #fff;
    border: 2px solid var(--color-secundario-dorado);
    color: var(--color-secundario-dorado);
}

.card-veladero {
    max-width: 400px;
    height: 75px;
    background: #fff;
    box-shadow: 0 2px 2px #0004;
    border-radius: 7px;
    margin: 10px;
    overflow: hidden;
    
    display: flex;
    justify-content: start;
}


.card-veladero img {
    width: 35px;
    aspect-ratio: 1/1;
    background: var(--color-principal-azul) !important;
    padding: 20px;
    box-sizing: content-box;
}

.card-veladero .card-veladero-titulo {
    width: 100%;
    height: 100% !important;
    padding-left: 20px;
    color: var(--color-principal-dorado);
    border: 1px solid #fff;
    border-radius: 0 7px 7px 0;
    
    display: flex;
    align-items: center;
}

.card-veladero:hover .card-veladero-titulo {
    border: 1px solid var(--color-principal-dorado);
    border-left: 1px solid #fff;
}

.card-veladero .card-veladero-titulo h4 {
    margin: 0;
}

.card-active {
    background: var(--color-principal-azul);
    border: 1px solid var(--color-principal-azul) !important;
}

.card-active .card-veladero-titulo {
    color: #fff !important;
    border: 1px solid var(--color-principal-azul) !important;
}