@import url('../fonts.css');
@import url('../variables.css');


.botones {
    padding: 50px;
}

.btn-veladero {
    width: 215px;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.btn-fill-yellow {
    background: var(--color-secundario-dorado);
    border: 2px solid var(--color-secundario-dorado);
    color: var(--color-principal-azul);
}

.btn-ghost-yellow {
    background: #fff;
    border: 2px solid var(--color-secundario-dorado);
    color: var(--color-secundario-dorado);
}

.card-veladero {
    /* min-width: 400px;
    max-width: 500px; */
    height: 100px;
    background: #fff;
    box-shadow: 0 4px 4px #0004;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    
    display: flex;
    justify-content: start;
}


.card-veladero img {
    box-sizing: content-box;
    width: 40px;
    aspect-ratio: 1/1;
    background: var(--color-principal-azul) !important;
    padding: 0 30px;
}

.card-veladero a {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: start;
}

.card-veladero .card-veladero-titulo {
    width: 100%;
    height: 100% !important;
    padding-left: 20px;
    color: var(--color-principal-dorado);
    border: 1px solid #fff;
    border-radius: 0 7px 7px 0;
    
    display: flex;
    align-items: center;
}

.card-veladero:hover .card-veladero-titulo {
    border: 1px solid var(--color-principal-dorado);
    border-left: 1px solid #fff;
}

.card-veladero .card-veladero-titulo h4 {
    margin: 0;
    font-size: 22px !important;
}

.card-active {
    background: var(--color-principal-azul);
    border: 1px solid var(--color-principal-azul) !important;
}

.card-active .card-veladero-titulo {
    color: #fff !important;
    border: 1px solid var(--color-principal-azul) !important;
}

.btn-volver {
    width: fit-content;
    padding: 30px 70px;
}

.btn-volver a {
    color: var(--color-principal-azul);
    display: flex;
    align-items: center;
    font-size: 20px;
}

.btn-volver i {
    margin-right: 10px;
}


.franja-azul {
    width: 100%;
    background: var(--color-principal-azul);
    padding: 20px 70px;
    text-align: center;
    color: #fff;
}

.franja-azul h1,
.franja-azul h2 {
    font-size: 45px;
    font-family: 'Arial-MT-Bold';
}

.franja-azul p {
    font-size: 30px;
}