@import url('../fonts.css');
@import url('../variables.css');

.entre-secciones {
    width: 100%;
    padding: 64px 150px;
    background: var(--color-secundario-gris);

    display: flex;
}

.entre-secciones .entre-secciones-card {
    width: 100%;
    height: 300px;
    background: #fff;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
}

.entre-secciones .entre-secciones-info {
    width: 55%;
    height: 100%;
    padding: 35px 38px;
    text-align: right;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.entre-secciones .entre-secciones-card h3 {
    font-size: 40px;
    font-weight: bolder;
}

.entre-secciones .entre-secciones-card p {
    color: #0008;
}

.entre-secciones .entre-secciones-img {
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.entre-secciones .entre-secciones-card .entre-secciones-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}