@import url('../fonts.css');
@import url('../variables.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 6000;
}

nav {
    width: 100% !important;
    /* height: 100%; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 70px !important;
    background: #fff;
}

nav img {
    height: 70px;
}

nav .nav-item .nav-link {
    color: var(--color-principal-azul) !important;
}

nav .nav-item .nav-link:hover {
    font-weight: bold;
}




footer {
    width: 100%;
    background: rgba(0, 85, 126, 0.85);
}

footer .footer-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 100px;
}

footer .footer-menu .menu-footer-head{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

footer .footer-contacto .menu-footer-contacto {
    margin: 0;
    padding: 0 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

footer .footer-menu .menu-footer-head li,
footer .footer-contacto .menu-footer-contacto li {
    list-style-type: none;
    color: #fff;
}

footer .footer-menu .menu-footer-head > li,
footer .footer-contacto .menu-footer-contacto > li {
    font-size: 25px;
    position: relative;
}

footer .footer-menu .menu-footer-head > li::before,
footer .footer-contacto .menu-footer-contacto > li::before {
    content: '';
    width: 100px;
    height: 2px;
    background: var(--color-secundario-dorado);
    position: absolute;
    top: 34px;
}

footer .footer-menu .menu-footer-head li a,
footer .footer-contacto .menu-footer-contacto li a {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

footer .footer-contacto .submenu-footer-contacto li {
    position: relative;
    left: -40px;
    margin: 10px 0;
}

footer .footer-contacto .submenu-footer-contacto li i {
    font-size: 16px;
    margin-right: 20px;
}

.footer-bottom {
    width: 100%;
    padding: 30px 70px;
    background: var(--color-principal-azul);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-auto-rows: 50px; */
    place-items: center;
    row-gap: 20px;
}

.footer-bottom .footer-logos {
    /* height: 100px; */
}

.footer-bottom .footer-logos img {
    height: 20px;
    margin: 0 20px;
}

.footer-bottom p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}

.footer-bottom .footer-redes {
    display: flex;
    justify-content: center;
}

footer i {
    color: #fff;
    font-size: 20px;
    padding: 5px;
    margin: 0 5px;
    border-radius: 50%;
    background: #fff2;
}