@import url('../fonts.css');
@import url('../variables.css');

/* Estilos en general */
.seccion-hero {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 90px);
    padding: 40px 70px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-img {
    width: 57%;
    height: 100%;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-info h2 {
    color: var(--color-principal-dorado) !important;
    font-family: 'Arial-MT-Bold';
    font-size: 40px;
}

.hero-info p {
    color: #000 !important;
    font-size: 18px;
    line-height: 1.5;
    /* margin-top: 5px; */
    height: auto;
    overflow: hidden;
    transition: 0.4s;
}

.parrafo-info-click { 
    height: auto !important;
    transition: 0.4s;
}

.mostrar-texto {
    font-size: 15px;
    margin-top: 10px;
    font-weight: lighter;
    color: #0009;
    display: none;
}

.mostrar-texto-click {
    display: block;
}



.about-us {
    width: 90%;
    margin: auto;
    padding: 50px 0;
}

.about-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
}

.about-us h2 {
    text-align: right;
    color: var(--color-principal-dorado);
    margin-bottom: 50px;
    font-family: 'Arial-MT-Bold';
    font-size: 40px;
}

.about-card {
    width: 280px;
    padding: 30px;
    background: rgba(116, 172, 221, 0.2);
    text-align: center;
    color: #656565;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-card i {
    color: var(--color-principal-azul);
    font-size: 80px;
    margin-bottom: 20px;
}


.ver-mas {
    background: transparent;
    border: none;
    color: var(--color-secundario-dorado);
    font-size: 18px;
    margin: auto;
}

/* Noticias */



/* Oportunidades Laborales */
.entre-secciones {
    width: 100%;
    padding: 64px 150px;
    background: var(--color-secundario-gris);

    display: flex;
}

.entre-secciones .entre-secciones-card {
    width: 100%;
    height: 300px;
    background: #fff;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
}

.entre-secciones .entre-secciones-info {
    width: 55%;
    height: 100%;
    padding: 35px 38px;
    text-align: right;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.entre-secciones .entre-secciones-card h3 {
    font-size: 40px;
    font-weight: bolder;
}

.entre-secciones .entre-secciones-card p {
    color: #0008;
}

.entre-secciones .entre-secciones-img {
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.entre-secciones .entre-secciones-card .entre-secciones-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Camaras en VIVO */
.cam-vivo {
    width: 100%;
    padding: 40px 70px;
}

.cam-vivo h2 {
    color: var(--color-secundario-azul);
    text-align: center;
    font-size: 40px;
}

.cam-vivo > p {
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    color: #0009;
}

.cam-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
}

.card-video {
    width: 380px;
    height: fit-content;
    box-shadow: 0 2px 3px #0005;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.card-poster {
    width: 100%;
    height: 200px;
    background: #000;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card-poster i {
    color: #fff;
    font-size: 50px;
}

.card-video p {
    margin: 0;
    padding: 10px 0;
    color: var(--color-principal-dorado);
    font-size: 16px;
    text-align: center;
}

.card-video:hover .card-poster img {
    opacity: 0.6;
}