@import url('../fonts.css');
@import url('../variables.css');

/* Estilos en general */
.home-hero {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 90px);
    padding: 40px 70px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-img {
    width: 57%;
    height: 100%;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-info h1 {
    color: var(--color-principal-dorado) !important;
    font-family: 'Arial-MT-Bold';
    font-size: 40px;
    line-height: 1;
}

.hero-info p {
    color: #000 !important;
    font-size: 18px;
    line-height: 1.2;
    /* margin-top: 5px; */
    height: auto;
    overflow: hidden;
    transition: 0.4s;
}

.parrafo-info-click { 
    height: auto !important;
    transition: 0.4s;
}

.mostrar-texto {
    font-size: 15px;
    margin-top: 10px;
    font-weight: lighter;
    color: #0009;
    display: none;
}

.mostrar-texto-click {
    display: block;
}



.about-us {
    width: 90%;
    margin: auto;
    padding: 50px 0;
}

.about-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
}

.about-us h2 {
    text-align: right;
    color: var(--color-principal-dorado);
    margin-bottom: 50px;
    font-family: 'Arial-MT-Bold';
    font-size: 40px;
}

.about-card {
    width: 280px;
    padding: 30px;
    background: rgba(116, 172, 221, 0.2);
    text-align: center;
    color: #656565;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-card i {
    color: var(--color-principal-azul);
    font-size: 80px;
    margin-bottom: 20px;
}


.ver-mas {
    background: transparent;
    border: none;
    color: #ecb731;
    font-size: 18px;
    margin: auto;
}

/* Noticias */



/* Oportunidades Laborales */
.entre-secciones {
    width: 100%;
    padding: 64px 100px;
    background: var(--color-secundario-gris);

    display: flex;
}

.entre-secciones .entre-secciones-card {
    width: 100%;
    min-height: 300px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
}

.entre-secciones .entre-secciones-info {
    width: 55%;
    height: 100%;
    padding: 35px 38px;
    text-align: right;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.entre-secciones-info.texto-left {
    text-align: left;
    align-items: flex-start ;
}

.entre-secciones .entre-secciones-card h3 {
    font-size: 40px;
    font-weight: bolder;
}

.entre-secciones .entre-secciones-card p {
    color: #0008;
}

.entre-secciones .entre-secciones-card a {
    text-align: center;
}

.entre-secciones .entre-secciones-img {
    width: 40%;
    min-width: 100px;
    height: 100%;
    overflow: hidden;
}

.entre-secciones .entre-secciones-card .entre-secciones-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.entre-secciones.bg-dark-blue {
    background: var(--color-principal-azul);
}

.btn-fill-yellow.bg-dorado {
    background: #ecb731;
    border: 2px solid #ecb731;
}


/* Camaras en VIVO */
.cam-vivo {
    width: 100%;
    padding: 40px 70px;
}

.cam-vivo h2 {
    color: var(--color-secundario-azul);
    text-align: center;
    font-size: 40px;
}

.cam-vivo > p {
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    color: #0009;
}

.cam-cards {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 40px;
}

.card-video {
    width: 300px;
    flex-basis: 300px;
    flex-grow: 1;
    height: fit-content;
    box-shadow: 0 2px 3px #0005;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.card-poster {
    width: 100%;
    height: 200px;
    background: #000;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card-poster i {
    color: #fff;
    font-size: 50px;
}

.card-video p {
    margin: 0;
    padding: 10px 0;
    color: var(--color-principal-dorado);
    font-size: 16px;
    text-align: center;
}

.card-video:hover .card-poster img {
    opacity: 0.6;
}


/* Nuevo Slider */

.carousel-anim-velad {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.carousel-anim-velad .carousel-items {
    width: 100%;
    height: 100%;
}

.carousel-anim-velad .carousel-items .carousel-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    /* transition: 0.4s; */
    /* display: none; */
}

.carousel-anim-velad .carousel-items .carousel-slide .carousel-slide-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.velad-slide-01 .carousel-slide-img {
    background-image: url('https://www.veladero.com/assets/img/slider/camperas-naranjas.jpg');
}

.velad-slide-02 .carousel-slide-img {
    background-image: url('https://www.veladero.com/assets/img/EstadodelCamino.jpg');
    background-position: 0 -50px !important;
}

.velad-slide-02 .carousel-slide-info img  {
    height: 50px;
    filter: drop-shadow(4px 4px 4px #0008);
}



.velad-slide-03 .carousel-slide-img {
    background: url('https://www.veladero.com/assets/img/medioambiente//sustentabilidad-backg.jpg'), linear-gradient(90deg, rgba(58,58,58,0.6786048117648349) 0%, rgba(101,101,101,0.5859081825513519) 23%, rgba(255,255,255,0) 58%);
    background-blend-mode: multiply;
}

.velad-slide-04 .carousel-slide-img {
    background-image: url('https://www.veladero.com/assets/img/oportunidades/oportunidades-licitaciones1.jpg'), linear-gradient(90deg, rgba(58,58,58,0.6786048117648349) 0%, rgba(101,101,101,0.5859081825513519) 23%, rgba(255,255,255,0) 58%);
    background-blend-mode: multiply;
}

.carousel-anim-velad .carousel-items .carousel-slide .carousel-slide-info {
    width: 40%;
    height: 100%;
    padding: 0 50px 0 120px;
    z-index: 5000;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Gotham Rounded Bold' !important;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.carousel-anim-velad .carousel-items .carousel-slide .carousel-slide-info p {
    font-size: 50px;
    color: #fff;
}

.carousel-anim-velad .carousel-items .carousel-slide .carousel-slide-info p::first-line {
    font-size: 35px;
  }

.velad-slide-02 p {
    /* color: #3ea4d7 !important; */
}

.velad-slide-03 p,
.velad-slide-04 p {
    text-shadow: 2px 2px 2px #000;
}


.carousel-anim-velad .carousel-items .carousel-slide .carousel-slide-info button {
    background: transparent;
    border: 2px solid #fff;
    font-size: 25px;
    padding: 10px 30px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Gotham Rounded Medium' !important;
}

.velad-slide-02 button {
    background: #f0ef28 !important;
    border: 2px solid #f0ef28 !important;
    color: #2e6485 !important;
    box-shadow: 3px 3px 6px #0008;
}


.carousel-slide.slide-active {
    top: 0 !important;
    left: 0 !important;
}

.carousel-slide.slide-active .black-bg  {
    animation-name: efectoBlur;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 0.5s;
}


.carousel-slide.slide-left-active {
    animation-name: leftActive;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.carousel-slide.slide-right-out {
    animation-name: rightOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.carousel-slide.slide-right-active {
    animation-name: rightActive;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.carousel-slide.slide-left-out {
    animation-name: leftOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}



@keyframes leftActive {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes rightOut {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes rightActive {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

@keyframes leftOut {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

.carousel-anim-velad .carousel-items .carousel-slide .carousel-slide-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.carousel-anim-velad .carousel-items .carousel-slide .carousel-slide-img .black-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    width: 100%;
    height: 100%;
    background: #0006;
    backdrop-filter: blur(2px);
    transition: 1.5s;
    transition-delay: 0.4s;
    opacity: 0;
}

.black-bg-anim {
    animation-name: efectoBlur;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 0.5s;

}



@keyframes efectoBlur {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        opacity: 0;
    }
    100% {
        clip-path: polygon(0 0, 50% 0, 30% 100%, 0% 100%);
        opacity: 1;
        filter: drop-shadow(2px 2px 4px #0008);

    }
}

.carousel-controladores .arrow-left {
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-controladores .arrow-right {
    position: absolute;
    top: 0;
    right: 0;
}


.carousel-controladores .arrow-left,
.carousel-controladores .arrow-right {
    width: 100px;
    height: 100%;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
    z-index: 5000;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-controladores .arrow-left:hover,
.carousel-controladores .arrow-right:hover {
    background: #0003;
}


.carousel-indicadores {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    z-index: 5000 !important;

    display: flex;
    justify-content: center;
    gap: 10px;
}

.carousel-indicadores .indicador-slider {
    width: 20px;
    height: 20px;
    background: #fff4;
    border-radius: 50%;
}

.carousel-indicadores .indicador-slider.indicador-active {
    background: #fff;
}