@import url('../fonts.css');
@import url('../variables.css');

.main-oportunidades {
    width: 100%;
    display: flex;
}

/* Oportunidades */

.main-oportunidades .btn-volver {
    padding: 30px 0px;
}

.plantilla-oport-left {
    width: 75%;
    padding: 0 70px;
}


.plantilla-oport-left .plant-oport-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.plantilla-oport-left .plant-oport-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.plantilla-oport-left .plant-oport-img .plant-oport-titulo {
    width: 70%;
    padding: 10px;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.plantilla-oport-left .plant-oport-titulo h1 {
    font-family: 'Arial-MT-Bold';
    color: var(--color-principal-azul);
    font-size: 30px;
}

.info-oportunidad,
.info-comunicaciones {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}

.info-oportunidad h2 {
    padding-bottom: 10px;
    font-family: 'Arial-MT-Bold';
    color: var(--color-principal-dorado);
}

.info-oportunidad li,
.info-comunicaciones li {
    padding: 5px 0;
}

.info-oportunidad button,
.info-comunicaciones button {
    margin: 10px auto;

}




.plantilla-oport-right {
    width: 25%;
    height: calc(100vh - 100px);
    padding: 50px 30px;
    background: rgba(0, 85, 126, 0.2);
    position: sticky;
    top: 100px;
}

.plantilla-oport-right h4 {
    font-size: 20px;
    font-family: 'Arial-MT-Bold';
}

.plantilla-oport-right li {
    padding: 5px;
    padding-left: 0px;
}

.plantilla-oport-right a {
    font-size: 14px;
    color: #000;
}




/* Comunicaciones */

.info-comunicaciones p:nth-child(1) {
    font-family: 'Arial-MT-Bold';
}

.plantilla-oportunidad h2 {
    padding-bottom: 10px;
    font-family: 'Arial-MT-Bold';
    color: var(--color-principal-azul);
}

.fotos-noticia {
    width: 100%;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 10px;
}

.fotos-noticia .cada-foto-noticia {
    width: 100%;
    height: 100%;
    background: #aaa;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.fotos-noticia .cada-foto-noticia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Programa visitas */

.programa-visitas .plantilla-oport-left {
    width: 100% !important;
}

.programa-visitas h2 {
    color: var(--color-principal-dorado);
}



.info-requisitos {
    margin-bottom: 50px;
}

.info-requisitos-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 200px; */
    gap: 20px;
    margin-bottom: 30px;
}

.info-requisitos-cards .requisitos-card {
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    background: #00557E10;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0003;
    text-align: center;
    color: #0008;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.info-requisitos-cards .requisitos-card img {
    padding-bottom: 20px;
}


.programa-visitas .fotos-noticia {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.programa-visitas .fotos-noticia .cada-foto-noticia {
    width: 100%;
    height: 100%;
    cursor: default;
    position: relative;
    box-shadow: 0 2px 4px #0006;
}


.programa-visitas .fotos-noticia .cada-foto-noticia div {
    width: 100%;
    height: 200px;
    padding: 20px;
    background: var(--color-principal-azul);
    color: #fff;
    text-align: center;
}

.programa-visitas .fotos-noticia .cada-foto-noticia .img-programa {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
}

.programa-visitas .fotos-noticia .cada-foto-noticia .img-programa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.programa-visitas .fotos-noticia .cada-foto-noticia .cada-foto-noticia-info {
    opacity: 0;
    position: absolute;
    transition: 0.4s;
}


.programa-visitas .fotos-noticia .cada-foto-noticia:hover .cada-foto-noticia-info {
    opacity: 1;
}


.programa-visitas .fotos-noticia .cada-foto-noticia div h3 {
    font-size: 18px;
    font-family: 'Arial-MT-Bold';
}

.programa-visitas .fotos-noticia .cada-foto-noticia div p {
    font-size: 14px;
}