@import url('../fonts.css');
@import url('../variables.css');

.sustentabilidad-hero {
    width: 100%;
    height: calc(100vh - 100px);
    padding: 40px 100px;
    background: url('../../img/sustentabilidad.png'), linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    background-size: cover;
    background-position: top;
    background-blend-mode: overlay;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.oport-intro {
    width: 60%;
}

.oport-intro h1 {
    color: var(--color-secundario-dorado);
    font-family: 'Arial-MT-Bold';
    font-size: 45px;
}

.oport-intro p {
    color: #fff;
    font-size: 25px;
    text-shadow: 0 2px 4px #0004;
}
