@import url('../fonts.css');
@import url('../variables.css');

@media (max-width: 1200px) {
    .tablas-preventivo {
        flex-direction: column;
    }
    .estadisticas-total {
        width: 100%;
    }
    .recup-activos {
        width: 100%;
    }
}

@media (max-width: 991px) {
    header nav {
        background: var(--color-principal-azul) !important;
    }
    .navbar-light .navbar-toggler {
        border-color: transparent !important;
    }
    .navbar-light .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-light .navbar-toggler span {
        filter: invert();
        scale: 1.3;
    }
    nav .nav-item .nav-link {
        color: #fff !important;
    }
    .navbar-collapse {
        padding-top: 20px;
    }

    .ver-mas {
        display: none;
    }

    .oport-intro {
        width: 70%;
        top: 60vh;
    }

    .hero-abastecimiento {
        padding: 0 70px;
    }

    .info-abastecimiento .fotos-noticia {
        margin-top: 50px;
    }
    
    footer .footer-head {
        padding: 0 40px;
    }
    footer .menu-footer-head {
        display: none !important;
    }
    footer .footer-contacto .menu-footer-contacto {
        padding: 0 40px;
    }
}

@media (max-width: 800px) {
    .tablas-preventivo {
        touch-action: pan-x;
        cursor: grab;
        overflow-y: hidden;
    }
    .tablas-preventivo table {
        min-width: 750px;
        overflow-x: scroll !important;
    }
}

@media (max-width: 780px) {
    .cam-cards {
        /* width: calc((380px * 6) + 240px); */
        overflow: hidden;
        padding-bottom: 20px;
    }
    
    .card-video {
        width: 380px;
        flex-basis: 380px;
        /* flex: none; */
    }
}

@media (max-width: 768px) {
    .home-hero {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .home-hero .hero-img,
    .home-hero .hero-info {
        width: 100%;
    }

    .entre-secciones {
        background: #00557E30;
    }
    .entre-secciones .entre-secciones-img {
        display: none;
    }
    .entre-secciones .entre-secciones-info {
        width: 100%;
    }

    .oportunidades-hero {
        padding: 40px 100px;
    }    
    .oport-intro {
        width: 100%;
        position: relative;
        top: 20px;
        left: 0;
        padding: 0 40px;
        text-align: center;
    }    
    .oport-intro h1 {
        color: var(--color-secundario-dorado);
        font-family: 'Arial-MT-Bold';
        font-size: 40px;
    }    
    .oport-intro p {
        color: #fff;
        font-size: 25px;
        color: #000;
    }

    .plantilla-oport-left {
        width: 100%;
        padding: 0 40px;
    }
    .plantilla-oport-right {
        display: none;
    }

    .compromisos-veladero {
        columns: 1;
        column-gap: 30px;
      }

    footer .footer-contacto .menu-footer-contacto {
        flex-direction: column;
        gap: 20px;
    }

    .footer-bottom {
        padding: 30px 40px;
    }
}

@media (max-width: 743px) {
    form .modal-iniciar-inputs {
        gap: 10px;
    }
    form {
        gap: 10px;
    }
    .modal-curriculum {
        width: 100%;
        background: #fff;
        padding: 20px 30px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .modal-curriculum h2 {
        font-size: 30px;
    }
    
    .modal-curriculum p {
        font-size: 16px;
    }
    label[for="file"] {
        width: 100%;
    }

    .franja-azul {
        padding: 20px 40px;
        text-align: center;
        color: #fff;
    }    
    .franja-azul h1,
    .franja-azul h2 {
        font-size: 35px;
        font-family: 'Arial-MT-Bold';
    }    
    .franja-azul p {
        font-size: 25px;
    }
}

@media (max-width: 576px) {
    .home-hero {
        padding: 0 0 40px;
    }
    .home-hero .hero-info {
        padding: 0 30px;
    }

    .entre-secciones {
        padding: 64px 30px;
    }
    .entre-secciones .entre-secciones-card {
        background: transparent;
    }
    .entre-secciones .entre-secciones-info {
        text-align: center !important;
        padding: 0 !important;
        justify-content: center;
        align-items: center;
        background: transparent !important;
    }
    .entre-secciones .entre-secciones-card h3 {
        font-size: 30px;
        text-align: center !important;
        font-weight: bolder;
        color: var(--color-secundario-azul);
    }
    
    .entre-secciones .entre-secciones-card p {
        color: var(--color-principal-azul);
    }

    .cam-vivo {
        padding: 40px 30px;
    }
    .cam-vivo h2 {
        color: var(--color-principal-dorado);
        text-align: center;
        font-size: 40px;
    }

    footer .footer-contacto .menu-footer-contacto {
        padding: 0;
    }

    .btn-volver {
        width: fit-content;
        padding: 30px 40px;
    }

    .cards-oportunidades {
        padding: 0 40px 50px;
    }

    .hero-abastecimiento {
        padding: 0 40px;
    }

    .info-abastecimiento {
        padding: 50px 40px;
    }
}









/* @media (max-width: 120px) {
    
} */