@import url('fonts.css');
@import url('variables.css');
@import url('components-css/header-footer.css');
@import url('components-css/componentes.css');
@import url('components-css/home.css');
@import url('components-css/oportunidades.css');
@import url('components-css/sustentabilidad.css');
@import url('components-css/comunicaciones.css');
@import url('components-css/proveedores.css');
@import url('components-css/plantilla-oportunidades-comunicaciones.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'Arial-MT-Regular' !important;
}

 