@import url('fonts.css');
@import url('variables.css');
@import url('components-css/header-footer.css');
@import url('components-css/hero.css');
@import url('components-css/sobre-nosotros.css');
@import url('components-css/entre-secciones.css');
@import url('components-css/botones.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'Arial-MT-Regular' !important;
}

 