:root {
    --color-principal-azul: #00557E;
    --color-principal-dorado: #A39161;
    --color-secundario-azul: #74ACDD;
    --color-secundario-dorado: #FBBA00;

    --color-secundario-gris: #E0E1E6;
    
    --altura-nav: 90px;
}